<h1>All Articles
	<% if logged_in? %>
		<span style="float: right"><%= link_to "- Create a New Article -", new_article_path, :style => "text-decoration: none; font-weight: normal; font-size: 15pt; color: white" %></span>
	<% end %>
</h1>

<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
</ul>

